.page__container {
	padding: 20px;
	max-width: 1024px;
	margin: 20px auto;
	flex-direction: row;
	background: var(--surface);

	.beyond {
		color: #ff8056;
	}

	button {
		background-color: var(--primary);

		border-radius: 8px;
		border: 1px solid var(--primary);
		color: var(--text-on-primary);
		cursor: pointer;
		transition: all 300ms ease-in-out;
		&:hover:not(:disabled) {
			background-color: var(--primary-dark);
		}
		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-flow: column;
		width: 300px;
		li {
			display: flex;
			padding: 0.5rem 1rem;
			flex-grow: 1;
			justify-content: space-between;
			cursor: pointer;
			transition: all 100ms ease-in;
			&:hover {
				background: rgba(0, 0, 0, 0.3);
			}
		}
	}
}
